.calendar-container {
  width: 350px;
  margin: 0 auto;
  color: black;
  border: solid 3px #90a4ae;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.date-box {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  border: solid 1px gray;
}

.f-center {
  justify-self: center;
}

.f-between {
  justify-content: space-between;
}

.m-center {
  margin: 0 auto;
}

.main {
  margin-top: 70px;
  margin-bottom: 65px;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  max-width: 420px;
  min-width: 350px;
}

.main-title {
  text-align: center;
}

.max-width {
  width: 100%;
}

.midium-space {
  margin: 30px;
}

.n-margin {
  margin: 0;
}

.small-space {
  margin: 10px;
}

.second-button {
  width: 35%;
  text-align: center;
  cursor: pointer;
  line-height: 55px;
}

.setting > h2 {
  margin: 8px;
}

.sub-border {
  border: solid 2px #eceff1;
  border-radius: 3px;
  box-sizing: border-box;
}

.sub-title {
  padding-left: 30px;
  margin: 20px auto 0;
}

.text-container {
  width: 320px;
  margin: 0px auto;
  height: 65px;
  padding: 5px;
  border: solid 3px #90a4ae;
  box-sizing: border-box;
  background-color: #fff;
  color: #37474f;
  font-size: 16px;
}

.time-line {
  margin: 0 10px 0 5px;
  line-height: 65px;
  font-size: 20px;
}

.time-field {
  border-bottom: solid 1px #eceff1;
  background-color: #90a4ae;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  max-width: 420px;
  min-width: 340px;
}

.time-field_date {
  line-height: 55px;
  margin: 0;
  width: 20%;
  text-align: center;
  font-size: 18px;
  border-right: solid 1px #eceff1;
  background-color: #78909c;
}


.time-field_label {
  line-height: 55px;
  margin: 0;
  font-size: 18px;
  width: 55%;
  text-align: center;
}

.time-field_title {
  background-color: #607d8b;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 2px #eceff1;
  width: 100%;
  text-align: center;
  margin: 0;
}

.text-area {
  width: 300px;
  margin: 10px auto;
}

.text-area > p {
  margin: 2px;
}



